body {
  background-color: #000000;
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-weight: Normal; 
  font-size: 50px; 
}

h2 {
  font-weight: 300; 
  font-size: 42px; 
  color: #ffffff;
}
p {
  font-size: 21px; 
  color: grey;
}

a {
  color: Aquamarine; 
  font-sizse: 16px; 
}

.copyright {
  text-align: right; 
  color: grey; 
  
}